.one {
  background-color: #202020;
}

.navbarone {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(32,32,32,.5);
    backdrop-filter: blur(1px);
    height: 113px;
    display: flex;
    align-items: center;
    z-index: 1;
}


.navbarone a {
  float: left;
  text-align: left;
  padding: 40px 30px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.image {
  padding: 20px 20px 20px 20px;
}

.right {
  float: right;
  text-align: right;
}

.sidenav {
  height: auto;
  width: 100px;
  position: fixed;
  background-color: #202020;
  padding-top: 110px;
  opacity: 70%;
}

.sidenav a {
  padding: 10px 18px 10px 34px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.medium {
  writing-mode: vertical-lr;
}
.linkin {
  writing-mode: vertical-lr;
}
.instagram {
  writing-mode: vertical-lr;
}
.twitter {
  writing-mode: vertical-lr;
}
.fb {
  writing-mode: vertical-lr;
}
/* Style page content */
.middle {
  margin-left: 0;
  padding: 0px 10px;
  background-color: #151515;
}

.BC {
  background-color: #202020;
}

#bd {
  color: grey;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 1.12px;
  text-align: center;
  padding-right: 63%;
}

span {
  color: #11c3cb;
}
.CS {
  color: white;
  font-family: monospace;
  letter-spacing: normal;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-right: 8%;
}

.au {
  color: white;
  letter-spacing: normal;
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  padding-right: 55%;
}
.text {
  color: white;
  letter-spacing: normal;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 13%;
}

.sol {
  color: white;
  letter-spacing: normal;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding-right: 50%;
}

.first {
  background-color: #202020;
  width: 20%;
}
.SM {
  color: white;
}
.first {
  color: white;
  text-align: center;
}
.second {
  background-color: #202020;
  width: 30%;
  height: 10%;
}
.CW {
  color: white;
}
.second {
  color: white;
  text-align: center;
}
.firstrow {
  display: flex;
  justify-content: space-around;
}

.third {
  background-color: #202020;
  width: 30%;
  height: 10%;
}
.defi-h2 {
  color: white;
}
.third {
  color: white;
  text-align: center;
}

.fourth {
  background-color: #202020;
  width: 30%;
  height: 10%;
}

.cta-h2 {
  color: white;
}

.fourth {
  color: white;
  text-align: center;
}
.secondrow {
  display: flex;
  justify-content: space-around;
}

#span-1,
#span-2,
#span-3,
#span-4 {
  font-size: 2rem;
  font-weight: bolder;
}

.or-h1 {
  color: white;
  letter-spacing: normal;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  padding-right: 50%;
}

#decimal-h2 {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.decimal-details {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  width: 750px;
  height: 300px;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
}
#decimal-p {
  border-left: 1px solid black;
}
.decimal {
  display: flex;
  justify-content: center;
  padding-left: 10%;
}

#spacebot-h2 {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.spacebot-details {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  width: 750px;
  height: 300px;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
}
#spacebot-p {
  border-left: 1px solid black;
}
.spacebot {
  display: flex;
  justify-content: center;
  padding-left: 10%;
}
#finwhalex-h2 {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.finwhalex-details {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  width: 750px;
  height: 300px;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
}
#finwhalex-p {
  border-left: 1px solid black;
}
.finwhalex {
  display: flex;
  justify-content: center;
  padding-left: 10%;
}

#binam-h2 {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.binam-details {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  width: 750px;
  height: 300px;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
}
#binam-p {
  border-left: 1px solid black;
}
.binam {
  display: flex;
  justify-content: center;
  padding-left: 10%;
}

.last {
  background-color: #202020;
}

#keyskills-h1 {
  color: white;
  letter-spacing: normal;
  text-align: start;
  font-size: 4rem;
  font-weight: bolder;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
}

#keyskills-p {
  color: #151515;
  letter-spacing: normal;
  text-align: start;
  font-weight: bold;
  font-size: 2rem;
  padding-left: 8%;
  font-family: Montserrat, sans-serif;
}

.node-js {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#node-js-img {
  padding-top: 25%;
}
#node-js-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.typescript {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#typescript-img {
  padding-top: 25%;
}
#typescript-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.solidity {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#solidity-img {
  padding-top: 25%;
}
#solidity-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.go {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#go-img {
  padding-top: 25%;
}
#go-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.java {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#java-img {
  padding-top: 25%;
}
#java-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.dart {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#dart-img {
  padding-top: 25%;
}
#dart-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.keyskills-firstrow {
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
}
.keyskills-secondrow {
  padding-left: 7.5%;
}

#framework-p {
  color: #151515;
  letter-spacing: normal;
  text-align: start;
  font-weight: bold;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
}

.nuxt-js {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#nuxt-js-img {
  padding-top: 25%;
}
#nuxt-js-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.vue-js {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#vue-js-img {
  padding-top: 25%;
}
#vue-js-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.react {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#react-img {
  padding-top: 25%;
}
#react-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.next-js {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#next-js-img {
  padding-top: 25%;
}
#next-js-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.web3 {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#web3-img {
  padding-top: 25%;
}
#web3-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.hardhat {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#hardhat-img {
  padding-top: 25%;
}
#hardhat-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.truffle {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#truffle-img {
  padding-top: 25%;
}
#truffle-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.flutter {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#flutter-img {
  padding-top: 25%;
}
#flutter-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.tba {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#tba-img {
  padding-top: 25%;
}
#tba-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.fba {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#fba-img {
  padding-top: 25%;
}
#fba-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.tradingview {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#tradingview-img {
  padding-top: 25%;
}
#tradingview-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.metamask {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#metamask-img {
  padding-top: 25%;
}
#metamask-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.ipfs {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#ipfs-img {
  padding-top: 25%;
}
#ipfs-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.framework-firstrow {
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}
.framework-secondrow {
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}
.framework-thirdrow {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
}
#dbms-p {
  color: #151515;
  letter-spacing: normal;
  text-align: start;
  font-weight: bold;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
}
.sql {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#sql-img {
  padding-top: 25%;
}
#sql-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.mongodb {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#mongodb-img {
  padding-top: 25%;
}
#mongodb-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.dbms-first-row {
  display: flex;
  justify-content: space-evenly;
  padding-right: 15%;
  margin: 5px;
}
#blockchain-p {
  color: #151515;
  letter-spacing: normal;
  text-align: start;
  font-weight: bold;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
}

.bitcoin {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#bitcoin-img {
  padding-top: 25%;
}
#bitcoin-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.eth{
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#eth-img {
  padding-top: 25%;
}
#eth-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.tron {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#tron-img {
  padding-top: 25%;
}
#tron-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.bnb {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#bnb-img {
  padding-top: 25%;
}
#bnb-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.eos {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#eos-img {
  padding-top: 25%;
}
#eos-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.blockchain-firstrow {
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}
.tendermintcore {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#tendermintcore-img {
  padding-top: 25%;
}
#tendermintcore-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.sdk {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#sdk-img {
  padding-top: 25%;
}
#sdk-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.litecoin {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#litecoin-img {
  padding-top: 25%;
}
#litecoin-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.polkadot {
  text-align: center;
  width: 190px;
  height: 190px;
  background-color: #151515;
}
#polkadot-img {
  padding-top: 25%;
}
#polkadot-p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.blockchain-secondrow {
  display: flex;
  justify-content: space-between;
}
